*, *::before, * ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

:root {
    --very-peri: #7575FF;
    --primary-grey: #C7C7C7;
    --light-grey: #F2F2F2;
    --black-color: #000000;
    --primary-red: #E25151;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

::-webkit-input-placeholder {
    color: var(--primary-grey); 
    font-family: 'Roboto', sans-serif;
}

::-moz-placeholder {
    color: var(--primary-grey);
    font-family: 'Roboto', sans-serif;
}

:-ms-input-placeholder { 
    color:var(--primary-grey);
    font-family: 'Roboto', sans-serif;
}

:-moz-placeholder { 
    color:var(--primary-grey);
    font-family: 'Roboto', sans-serif;
}

.title {
    font-size: 32px;
}

.page {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}
